<div id="content">
  <div class="container">
    <div class="row container-gallery" style="position: relative; height: 1078.5625px;">
      <% @produits.each do |produit| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post-container">
              <div class="post-option">
                <ul class="list-options">
                  <li><a href= <%= detail_path(produit.id) %> ><i class="fa fa-plus"></i> <span>Detail</span></a></li>
                  <li><a href="#"><i class="fa fa-comment"></i> <span>Comment</span></a></li>
                  <li><a href="#"><i class="fa fa-cloud-download"></i> <span>Download</span></a></li>
                  <li><a href="#"><i class="fa fa-heart"></i> <span>Love</span></a></li>
                </ul>
              </div>
              <div class="post-image">
                <%= image_tag(produit.url, class: 'img-responsive') %>
              </div>
              <div class="caption">
                <h4><%= produit.name %></h4>
                <p><a href="#" class="btn btn-primary" role="button">

                  <b><%= produit.prixvente %>
                    <i class="fa fa-eur"></i>
                  </b></a>

                  <a href="#" class="btn btn-primary" role="button">
                    <i class="fa fa-shopping-cart"></i>
                    <b>Order Now</b></a></p>
              </div>
              <div class="post-meta">
                <ul class="list-meta list-inline">
                  <li><i class="fa fa-eye"></i> <%=produit.vues%> </li>
                  <li><i class="fa fa-comment"></i> 7</li>
                  <li><i class="fa fa-cloud-download"></i><%=produit.downloads%></li>
                  <li><i class="fa fa-heart"></i><%=produit.likes%></li>
                </ul>
              </div>
              <div class="post-desc">
                <i class="fa fa-tags"></i> Tags : <a href="#"> <%= produit.tags %></a>
              </div>
            </div>
          </div>
      <% end %>

      <!-- begin:pagination -->
      <div class="col-md-12" style="display: none">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
      <!-- end:pagination -->
    </div>
  </div>
</div>


