<div id="login" class="borderbox formpage">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
        <div class="post-container">
          <div class="post-content">
            <div class="form-signin">
              <div class="heading-title">
                <h3><i class="fa fa-lock"></i> Sign in</h3>
              </div>
              <p>Sign in using your registered account.</p>
              <%= form_tag sign_in_path , class: 'form-horizontal' do |f| %>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <%= text_field_tag :email, '', class: 'form-control input-md', placeholder: 'Email' %>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <%= password_field_tag :password,'', class: 'form-control input-md', placeholder: 'Password' %>
                  </div>
                  <div class="form-group">
                    <label for="keep" class="col-sm-6 col-xs-12 control-label"><input type="checkbox"> Keep me sign in</label>
                    <div class="col-sm-6 col-xs-12 btn-signin">
                      <%= button_tag 'Cancel', class: "btn btn-primary btn-sm" %>
                      <%= submit_tag 'Sign-in', class: 'btn btn-primary btn-sm' %>
                    </div>
                  </div>
                  <hr>
                  <p>Sign in using social networks:</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-default btn-block btn-sm marg-xs-5"><i class="fa fa-twitter fa-tw fa-lg"></i> Signin with twitter</a>
                    </div>
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-default btn-block btn-sm marg-xs-5"><i class="fa fa-facebook-square fa-fb fa-lg"></i> Signin with facebook</a>
                    </div>
                  </div>
                  <hr>
                  <a href="#">Forgot your password ?</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>