<!DOCTYPE html>
<html>
<head>
  <title>Quilling Designs Store</title>
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/about' %>
<%= render 'layouts/contact' %>
<%= render 'layouts/footer' %>
</body>
</html>
