<!DOCTYPE html>
<html>
<head>
  <title>Quilling Designs Store</title>
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/meta_tags' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
